<div style="display: none" id="scheduleForm" class="form-style-5">
	<form>
		<fieldset>
			<legend><span class="number">1</span> Schedule the room</legend>
			<input type="text" id="datepicker" placeholder="Date *">
			<label for="startTime">What time will you start using the room?</label>
			<input type="text" id="startTime" placeholder="Start Time *">

			<label for="job">How long will you need the room?</label>
			<select id="job" name="field4">
				<optgroup label="Hours">
					<option value="fishkeeping">1</option>
					<option value="reading">2</option>
					<option value="boxing">3</option>
					<option value="debate">4</option>
				</optgroup>
			</select>
		</fieldset>
		<fieldset>
			<legend><span class="number">2</span> Additional Info</legend>
			<textarea id="description" name="field3" placeholder="Purpose of Use*"></textarea>
		</fieldset>
		<input email=<%- user.local.email %> id="bookRoom" type="submit" value="Submit" />
	</form>
</div>