<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="header">
                    <h4 class="title">Devices</h4>
                    <p class="category">All Registered Devices</p>
                </div>
                <div class="content">
                    <p id="demo"></p>
                    <div class="input-group">
                        <span class="input-group-addon"></span>
                        <input type="text" class="form-control" placeholder="MAC Address">
                        <button onclick="myFunction()" type="button" class="btn btn-info">Add</button>
                        <button type="button" class="btn btn-danger">Delete</button>
                    </div>
                </div>
            </div>
            <% include ./calendar %>
        </div>
    </div>
</div>