<html lang="en">
    <head>
        <% include /partials/head %>
    </head>
    <body>
        <div class="wrapper">
            <div class="sidebar" data-color="azure" data-image="/img/back2.jpg">
                <div class="sidebar-wrapper">
                    <div class="logo">
                        <h1>LightSwitch</h1>
                    </div>
                   
                </div>
            </div>
            <div class="main-panel">
                <nav class="navbar navbar-default navbar-fixed">
                    <% include /partials/nav%>
                </nav>
                <div class="result">
                </div>
                
            </div>
        </div>
    </body>
    <footer>
        <% include /partials/footer %>
    </footer>
</html>