<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
	<% include ../partials/head %>
    <link href="/css/login.css" rel="stylesheet"/>
</head>
<body>
<div class="wrapper">
    <div class="content login-container">
		<div class="login-form">
<!-- 			<img class="login-header-image" src="/img/Icon/ShortLook-42@2x.png">
 -->		<h2 class="login-title"><span id="span1">Welcome to Light</span><span id="span2">Switch!</span></h2>
			<p><span id="span1">Login or Register</span></p>
			<a href="/login" class="btn btn-custom btn-primary">Login</a>
			<a href="/signup" class="btn btn-custom btn-primary">Signup</a>
		</div>
	</div>
</div>
</body>
</html>