<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
	<% include ../partials/head %>
    <link href="/css/login.css" rel="stylesheet"/>
</head>
<body>
<div class="wrapper">
    <div class="content">
		<div class="login-form">
<!-- 			<img class="login-header-image" src="/img/Icon/ShortLook-42@2x.png">
 -->			<h2 class="login-title" >Welcome to Lightswitch!</h2>

			<p>Login or Register</p>

			<a href="/login" class="btn btn-primary">Login</a>
			<a href="/signup" class="btn btn-primary">Signup</a>
		</div>
	</div>
</div>
</body>
</html>