<html lang="en">
    <head>
        <% include ../partials/head %>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="wrapper">
            <div class="sidebar" data-color="azure" data-image="/img/back2.jpg">
                <div class="sidebar-wrapper">
                    <div class="logo">
                        <h1>LightSwitch</h1>
                    </div>
                    <ul class="nav">
                        <%for(var i =0; i<rooms.length; i++)  {
                        if(rooms[i]._id !== null) {
                        %>
                        <li class="active">
                            <a class="rooms" href="#" room-id="<%-rooms[i]._id%>">
                                <p> <%= rooms[i].displayName %> </p>
                            </a>
                        </li>
                        <% }
                        };  %>
                    </ul>
                  <div style="position: absolute; bottom: 10; left: 10;">
                    <a href="../partials/addroom.ejs" class="btn btn-warning" role="button"> + </a>
                  </div>
                </div>
            </div>
            <div class="main-panel">
                <nav class="navbar navbar-default navbar-fixed">
                    <% include ../partials/nav%>
                </nav>
                <div class="result">
                    <%- include('room', {room: rooms[0]}) %>
                </div>

            </div>
        </div>
    </body>
    <footer>
        <% include ../partials/footer %>
    </footer>
</html>
