<html lang="en">
    <head>
        <% include ../partials/head %>
    </head>
    <body>
        <div class="wrapper">
            <div class="sidebar" data-color="azure" data-image="assets/img/back2.jpg">
                <div class="sidebar-wrapper">
                    <div class="logo">
                        <h1>LightSwitch</h1>
                    </div>
                    <ul class="nav">
                        <li class="active">
                            <a href="">
                                <p>Volen</p>
                            </a>
                        </li>
                        <li class="active">
                            <a href="">
                                <p>Maker Lab</p>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="main-panel">
                <nav class="navbar navbar-default navbar-fixed">
                    <% include ../partials/nav%>
                </nav>
                <div class="content">
                    <% include ../partials/room%>
                </div>
                
            </div>
        </div>
    </body>
    <footer>
        <% include ../partials/footer %>
    </footer>
</html>