<html lang="en">
    <head>
        <% include ../partials/head %>
    </head>
    <body>
        <div class="wrapper">
            <div class="sidebar" data-color="azure" data-image="/img/back2.jpg">
                <div class="sidebar-wrapper">
                    <div class="logo">
                        <h1>LightSwitch</h1>
                    </div>
                    <ul class="nav">
                        <%for(var i =0; i<rooms.length; i++)  { %>
                        <li class="active">
                            <a class="rooms" href="#" room-id="<%-rooms[i]._id%>">
                                <p> <%= rooms[i].displayName %> </p>
                            </a>
                        </li>
                        <% };  %>
                    </ul>
                </div>
            </div>
            <div class="main-panel">
                <nav class="navbar navbar-default navbar-fixed">
                    <% include ../partials/nav%>
                </nav>
                <div class="result">
                        <%- include('room', {room: rooms[0]}) %>
                </div>
                
            </div>
        </div>
    </body>
    <footer>
        <% include ../partials/footer %>
    </footer>
</html>