<!-- views/login.ejs -->
<!doctype html>
<html>
	<head>
	<% include ../partials/head %>
	<link href="/css/login.css" rel="stylesheet"/>
	</head>
	<body>
	<div class="wrapper">
		<div class="content login-container">
			<h2 class="login-title"><span id="span1">Welcome to Light</span><span id="span2">Switch!</span></h2>
			<!-- show any messages that come back with authentication -->
			<% if (message.length > 0) { %>
				<div class="alert alert-danger"><%= message %></div>
			<% } %>
			<!-- LOGIN FORM -->
			<form action="/login" method="post">
				<div class="form-group">
					<input placeholder="Email" type="text" class="form-input" name="email">
				</div>
				<div class="form-group">
					<input placeholder="Password" type="password" class="form-input" name="password">
				</div>
				<div class="login-form">
					<button type="submit" class="btn btn-custom btn-primary">Login</button>
					<p id="span1">Need an account? <a href="/signup" id="span2">Signup</a></p>
				</div>
			</form>
		</div>
	</div>
	</body>
</html>
