<h1 align="center"><%= room.displayName %></h1>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="header">
                    <h4 class="title">Devices</h4>
                    <p class="category">All Registered Devices</p>
                </div>
                <div class="content">
                    <ul>
                        <% for(var i = 0; i<room.devices.length; i++) {%>
                        <li><%= room.devices[i]%></li>
                        <%}%>
                    </ul>
                    <div class="input-group">
                        <span class="input-group-addon"></span>
                        <input  id="macInfo" type="text" class="form-control" placeholder="MAC Address">
                        <button id="addDevice" room-id="<%-room._id%>" type="button" class="btn btn-info">Add</button>
                        <button type="button" class="btn btn-danger">Delete</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- This card will be for monitoring activity in room -->
        <div class="col-md-offset-3 col-md-4">
            <div class="card">
                <div class="header">
                    <h4 class="title">Room Activity</h4>
                    <p class="category">Movement in room from last 30 minutes</p>
                </div>
                <div class="content">
                </div>
            </div>
        </div>
        <% include ../partials/calendar %>
        
    </div>
</div>